.content {
	font-size: 1.25rem;
	line-height: 2.5rem;

	& > * {
		margin-bottom: 2vw;
		padding: 0 5vw;
	}

	p, ul, ol, blockquote, pre, code {}

	p {
		max-width: gridw(12);
	}

	ul, ol {
		margin-left: 5vw;
	}

	ul { list-style: square outside; }
	ol { list-style: lower-roman outside; }

	blockquote {
		& > * {}
		& > label {}
	}

	pre {
		padding: 2.5vw 5vw;

		background-color: $stb-dark;
		color: $stb-light;

		font-family: $fontstack-mono;
		font-size: 16px;
		line-height: 2rem;

		& > code {}
	}
}
