<li class="code-item">
    <header class="code-header">
        <h2 class="code-header-main">{{title}}</h2>
    </header>
    
    <section class="code-container">
        <div class="code-description">{{description}}</div>

        <a class="code-download" href="{{download-link}}">
            <i class="icon" data-icon="download-arrow"></i>
            <span>Download</span>
        </a>
        
        <a class="code-download" href="{{source-link}}">
            <i class="icon" data-icon="github-octocat"></i>
            <span>Source</span>
        </a>
    </section>
</li>