<section class="contact content-item" data-page="contact">
    <div class="content-wrapper">
        <p class="contact-paragraph">I'm Evan Krambuhl (sometimes Evan Price). I am the creator of beautiful, functional experiences and forward thinking development.  I believe that minimalism highlights functionality; I make products that are powerful and easy to use.</p>
   
        <img src="assets/images/evan-bw.jpg" class="contact-image" />

        <p class="contact-paragraph">Away from work I am a musician, releasing 6 albums over the last nine years as <a href="http://pmisdead.com">Precision Machines</a>, my musical identity.  I play guitar, piano and drums and most recently I released an 11 track Electric-Rock album called, &quot;<a href="http://nad.iounoi.com" target="_blank">Nourish and Destroy</a>&quot; under my <cite title="I Owe You No I"> IOUNOI</cite> pseudonym.</p>

        <hr class="contact-divider" />

        <p class="contact-paragraph">There are a few different ways to get a hold of me, feel free to drop a line to say hello or ask for my expertise on your project.</p>

        <ul class="contact-list">
            <li class="contact-item"><a href="http://www.linkedin.com/profile/view?id=92721768" target="_blank">
                <i class="contact-list-item icon" data-icon="linkedin"></i>
            </a></li>
            
            <li class="contact-item"><a href="https://twitter.com/evan_is" target="_blank">
                <i class="contact-list-item icon" data-icon="twitter"></i>
            </a></li>
            
            <li class="contact-item"><a href="mailto:evan.krambuhl@gmail.com" target="_blank">
                <i class="contact-list-item icon" data-icon="email"></i>
            </a></li>
        </ul>
    </div>
</section>