<section class="content"><ul class="content-list">
    <li class="content-item" data-page="loading"><div class="content-wrapper">
        <div class="js-loader loader"><i class="icon icon-64 animate-rotate" data-icon="arrow-loading"></i></div>
    </div></li>
    
    <li class="content-item is-active is-placeholder" data-page="design"></li>
    <li class="content-item is-placeholder" data-page="code"></li>
    <li class="content-item is-placeholder" data-page="timeline"></li>
    <li class="content-item is-placeholder" data-page="contact"></li>
</ul></section>