<section class="content"><ul class="content-list">
    <li class="content-item is-placeholder is-active" data-page="design"></li>
    <li class="content-item is-placeholder" data-page="code"></li>
    <li class="content-item is-placeholder" data-page="timeline"></li>
    <li class="content-item is-placeholder" data-page="contact"></li>
</ul></section>