<section id="design" class="stb-samples yield">
    <div class="samples">
        <ul class="js-samples samples-list is-hidden"></ul>
    </div>
    
    <div class="js-loader loader"><i class="icon icon-64 animate-rotate" data-icon="arrow-loading"></i></div>
</section>