<footer class="footer"><div class="footer-wrapper">
    <ul class="footer-links">
        <li class="footer-item is-active"><a href="#/design/" data-link="design">Design & Experience</a></li>
        <li class="footer-item"><a href="#/code/" data-link="code">Code</a></li>
        <li class="footer-item"><a href="#/timeline/" data-link="timeline">History</a></li>
        <li class="footer-item"><a href="#/contact/" data-link="contact">Contact</a></li>
    </ul>
    
    <div class="footer-copy">&copy; 2014 Evan Krambuhl</div>
</div></footer>