<footer class="stb-footer footer"><div class="footer-wrapper">
    <ul class="footer-links">
        <li class="footer-item is-active">
            <a href="#/design/" data-link="design">Design & Experience</a>
            <i class="footer-item-icon icon" data-icon="down-arrow"></i>
        </li>
        
        <li class="footer-item">
            <a href="#/code/" data-link="code">Code</a>
            <i class="footer-item-icon icon" data-icon="down-arrow"></i>
        </li>
        
        <li class="footer-item">
            <a href="#/history/" data-link="history">History</a>
            <i class="footer-item-icon icon" data-icon="down-arrow"></i>
        </li>
        
        <li class="footer-item">
            <a href="#/contact/" data-link="contact">Contact</a>
            <i class="footer-item-icon icon" data-icon="down-arrow"></i>
        </li>
    </ul>
    
    <div class="footer-copy">&copy; Evan Krambuhl 2013</div>
</div></footer>