<nav class="pressure">
    <ul class="pressure-list js-pressure-hover">
        <li class="pressure-item is-active">
            <a href="#/portfolio/" title="Portfolio">Portfolio</a>
            <i class="pressure-item-icon icon" data-icon="down-arrow"></i>
        </li>
        
        <li class="pressure-item">
            <a href="#/code/" title="Code">Code</a>
            <i class="pressure-item-icon icon" data-icon="down-arrow"></i>
        </li>
        
        <li class="pressure-item">
            <a href="#/timeline/" title="History">History</a>
            <i class="pressure-item-icon icon" data-icon="down-arrow"></i>
        </li>
        
        <li class="pressure-item">
            <a href="#/contact/" title="Contact">Contact</a>
            <i class="pressure-item-icon icon" data-icon="down-arrow"></i>
        </li>
    </ul>
    
    <div class="pressure-fade"></div>
</nav>