<li class="timeline-item">
    <h3 class="timeline-item-date">{{year}}</h3>
    <div class="timeline-item-story">{{{story}}}</div>
    
    {{#elsewhere}}
    <div class="timeline-item-elsewhere">{{{.}}}</div>
    {{/elsewhere}}
    
</li>