<section class="timeline content-item" data-page="timeline"><div class="content-wrapper">
    <h2 class="timeline-header">I want to tell a bit of my story</h2>
    
    <p class="timeline-description">I believe that storytelling is the best way to learn about each other.</p>
    <p class="timeline-description">I started programming at 13 years-old and began making music the following year. &nbsp;I spend most of my time learning, creating and experimenting, usually resulting in many sleepless nights.  I'm usually self-taught, but also have underpinnings from great teachers in programming, design, music, photography and math.</p>
    
    <ul class="timeline-list js-timeline"></ul>
</div></section>