%icon {
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.icon-stb-logo {
	background-position: 0 0;
	@extend %icon;
}

.icon-stb-logo-dark {
	background-position: 0 -58px;
	@extend %icon;
}

