.heading {
	font-family: $fontstack-sans;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 1.4em;
}

.heading-light {
	font-weight: 300;
}

.heading-medium {
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
	@extend .heading;
}

// normal screens
h1 { font-size: 3.5rem; }
h2 { font-size: 3em; }
h3 { font-size: 2.5rem; }
h4 { font-size: 2.25rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.75rem; }

// small screens
@include grid-respond(0, 6) {
	h1 { font-size: 2.25rem; }
	h2 { font-size: 2.125rem; }
}

@include grid-respond(0, 7.5) {
	h1 { font-size: 2.5rem; }
	h2 { font-size: 2.25rem; }
	h3 { font-size: 2rem; }
	h4 { font-size: 1.75rem; }
	h5 { font-size: 1.5rem; }
	h6 { font-size: 1.25rem; }
}

//large screens
@include grid-respond(12) {
	h1 { font-size: 4rem; line-height: 1.6em; }
	h2 { font-size: 3.25rem; line-height: 1.5em; }
}
