.heading {
  font-size: 150%;
  font-weight: 500;
  line-height: 1.4em;

  &.m-bold { font-weight: 700; }
  &.m-light { font-weight: 300; }
  &.m-italic { font-style: italic; }
}

h1.heading { font-size: 225%; }
h2.heading { font-size: 200%; }
h3.heading { font-size: 175%; }
h4.heading { font-size: 150%; }

@mixin heading--small {
  .heading { font-size: 125%; }

  h1.heading { font-size: 190%; }
  h2.heading { font-size: 170%; }
  h3.heading { font-size: 140%; }
  h4.heading { font-size: 120%; }
}

@mixin heading--large {
  .heading { font-size: 150%; }

  h1.heading { font-size: 200%; }
  h2.heading { font-size: 180%; }
  h3.heading { font-size: 160%; }
  h4.heading { font-size: 140%; }
}