.image {
  position: relative;
  padding-top: 60%;
  max-height: 500px;

  background-position: center top;
  background-size: contain;

  transition-property: padding;

  &.is-loaded {
    .image-preloader { opacity: 0; }
  }
}

.image-square {
  padding-top: 100%;
  background-position: center center;
  background-size: cover;
}

.image-preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 100;
  background-color: #eee;

  transition-property: opacity;
  // transition-duration: 0.5s;
  transition-delay: 0.2s;
}

