@font-face {
    font-family: 'Museo Sans';
    src: url('museosans-300.eot');
    src: url('museosans-300.eot?#iefix') format('embedded-opentype'),
         url('museosans-300.woff') format('woff'),
         url('museosans-300.ttf') format('truetype'),
         url('museosans-300.svg#museo_sans_300regular') format('svg');
         
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('museosans-500.eot');
    src: url('museosans-500.eot?#iefix') format('embedded-opentype'),
         url('museosans-500.woff') format('woff'),
         url('museosans-500.ttf') format('truetype'),
         url('museosans-500.svg#museo_sans_500regular') format('svg');
         
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('museosans-700.eot');
    src: url('museosans-700.eot?#iefix') format('embedded-opentype'),
         url('museosans-700.woff') format('woff'),
         url('museosans-700.ttf') format('truetype'),
         url('museosans-700.svg#museo_sans_700regular') format('svg');
         
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Museo Slab';
    src: url('museo_slab_500.eot');
    src: url('museo_slab_500.eot?#iefix') format('embedded-opentype'),
         url('museo_slab_500.woff') format('woff'),
         url('museo_slab_500.ttf') format('truetype'),
         url('museo_slab_500.svg#museo_slab_500regular') format('svg');
         
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('droidserif-regular.eot');
    src: url('droidserif-regular.eot?#iefix') format('embedded-opentype'),
         url('droidserif-regular.woff') format('woff'),
         url('droidserif-regular.ttf') format('truetype'),
         url('droidserif-regular.svg#droid_serifregular') format('svg');
         
    font-weight: normal;
    font-style: normal;
}