@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museosans-300.eot');
    src: url('fonts/museosans-300.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans-300.woff') format('woff'),
         url('fonts/museosans-300.ttf') format('truetype'),
         url('fonts/museosans-300.svg#museo_sans_300regular') format('svg');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museosans-500.eot');
    src: url('fonts/museosans-500.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans-500.woff') format('woff'),
         url('fonts/museosans-500.ttf') format('truetype'),
         url('fonts/museosans-500.svg#museo_sans_500regular') format('svg');

    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museosans-700.eot');
    src: url('fonts/museosans-700.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans-700.woff') format('woff'),
         url('fonts/museosans-700.ttf') format('truetype'),
         url('fonts/museosans-700.svg#museo_sans_700regular') format('svg');

    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "stb-icons";
  src: url('fonts/stb-icons.eot');
  src: url('fonts/stb-icons.eot?#iefix') format('eot'),
    url('fonts/stb-icons.woff') format('woff'),
    url('fonts/stb-icons.ttf') format('truetype'),
    url('fonts/stb-icons.svg#stb-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  display: inline-block;
  font-family: "stb-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<% _.each(glyphs, function(glyph) { %>
  .icon-<%= glyph.name %>:before { 
    content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>" 
  }
<% }); %>