.code {
    padding-bottom: $spacing-quad * 1.5;
    
    line-height: 1.7em;
    font-size: 20px;
    
    @include clearfix;

    &, * {
        @include transition-duration(0.25s);
        @include transition-property(height, margin, opacity);
        @include transition-timing-function(ease);
    }
}

.code-item {
    margin-bottom: $spacing-quad * 1.5;
}

.code-header {
    display: block;
    margin: 0 auto $spacing-double auto;
    max-width: gridw(10, $gutter);
    width: 100%;

    text-transform: uppercase;
    font-family: "Museo Sans";
    font-size: 32px;
    font-weight: 700;
}

.code-header-main { 
    padding-right: 30px;
    word-break: break-word;
}

.code-container {
    display: block;
    margin: 0 auto $spacing-double auto;
    max-width: gridw(10, $gutter);
    width: 100%;
    
    @include clearfix;
}

.code-description {
    float: left;
    width: 100%;
    max-width: gridw(6, $gutter);
    min-height: gridw(2, $gutter);
    padding: $spacing-double;
    
    background: $stb-blue;
    background: rgba($stb-blue, 0.1);
}

.code-download {
    float: left;
    position: relative;
    display: block;
    @include grid(2, $gutter);
    height: gridw(2, $gutter);
    
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Museo Sans";
    font-weight: 700;
    
    color: white;
    background: $stb-blue;

    @include transition-duration(0.25s);
    
    &:nth-child(2n) { 
        background: mix(#222, $stb-blue, 10%);
    };

    &:hover { 
        color: white; 
        background: mix(#222, $stb-blue, 15%);
    }
    
    .icon { 
        display: none;
    }
    
    span {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        
        width: 100%;
        margin-top: -16px;
        
        text-align: center;
    }
}


@include grid-respond (0, 10.15) {
    .code-header { 
        padding-left: $spacing-double;
    }

    .code-description {
        max-width: 100%;
    }

    .code-download {
        width: 100%;
        max-width: 50%;
        height: 54px;
    }
}
