.code {
    padding-bottom: $spacing-quad * 1.5;
    
    line-height: 1.7em;
    font-size: 20px;
    
    @include clearfix;

    &, * {
        @include transition-duration(0.5s);
        @include transition-property(height, margin, opacity);
        @include transition-timing-function(ease);
    }
}

.code-item {
    margin-bottom: $spacing-quad * 1.5;
}

.code-header {
    display: block;
    margin: 0 auto $spacing-double auto;
    @include grid(10, $gutter);
    
    text-transform: uppercase;
    font-family: "Museo Sans";
    font-size: 32px;
    font-weight: 700;
}

.code-container {
    display: block;
    margin: 0 auto $spacing-double auto;
    @include grid(10, $gutter);
    
    @include clearfix;
}

.code-description {
    float: left;
    @include grid(6, $gutter);
    min-height: gridw(2, $gutter);
    padding: $spacing-double;
    
    background: $stb-blue;
    background: rgba($stb-blue, 0.1);
}

.code-download {
    float: left;
    position: relative;
    display: block;
    @include grid(2, $gutter);
    height: gridw(2, $gutter);
    padding: $spacing-double * 1.5 0;
    
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Museo Sans";
    font-weight: 700;
    
    color: white;
    background: $stb-blue;

    @include transition-duration(0.5s);
    
    &:nth-child(2n) { 
        background: mix(#222, $stb-blue, 10%);
    };
    
    .icon { 
        position: absolute;
        top: 50%;
        left: 50%;
        width: 48px;
        height: 48px;
        margin: -24px auto auto -24px;
        
        path { fill: white; }
    }
    
    span {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        
        @include opacity(0);
        
        width: 100%;
        margin-top: -16px;
        
        text-align: center;
    }
    
    &:hover {
        color: white;
        @include transition-duration(0s);
        
        .icon { @include opacity(0) }
        span  { @include opacity(1) }
    };
}

//<li class="code-item">
//    <header class="code-header">
//        <h2 class="code-header-main">{{title}}</h2>
//    </header>
//    
//    <section class="code-container">
//        <div class="code-description">{{description}}</div>
//
//        <a class="code-download" href="{{dowload-link}}">
//            <i class="icon" icon-icon="down-arrow"></i>
//            <span>Download</span>
//        </a>
//        
//        <a class="code-source" href="{{ource-link}}">
//            <i class="icon" icon-icon="github-octocat"></i>
//            <span>Source</span>
//        </a>
//        
//        <ul class="code-images">
//        {{#each images}}
//            <li class="code-image"><img class="code-image" src="{{.}}" /></li>
//        {{/each}}
//        </ul>
//    </section>
//</li>