.content {
    position: relative;
    width: 100%;
    margin-bottom: $spacing-double;
    
    @include clearfix;
    
    &, * { 
        @include transition-duration(1s);
        @include transition-property(height, margin, opacity);
        @include transition-timing-function(ease);
        
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
}

.content-list {
    position: relative;
    width: 100%;
    min-height: 480px;
        @include transition-duration(10s);
    
    @include clearfix;
}

.content-item {
    position: absolute;
    top: 0;
    left: 50%;
    min-height: 480px;
    
    @include grid(12, $gutter);
    @include transition-duration(0.5s);
    
    @include opacity(0);
    margin-left: -0.5 * gridw(12, $gutter + $spacing-double) + $spacing;
    z-index: -1;
      
    &.is-active {    
        position: relative;
        @include opacity(1);
        @include transition-duration(1s);
        z-index: 10;
    }
}

.content-wrapper {
    display: block; 
    @include clearfix;
    min-height: 480px;
}