.contact { 
    padding-bottom: $spacing-quad * 1.5;
    
    line-height: 1.7em;
    font-size: 20px;
    text-align: center;
    
    color: #444;
    
    @include clearfix();
    
    &, * { 
        @include transition-duration(0.25s);
        @include transition-property(width, height, padding, margin, opacity, color, background, border);
        @include transition-timing-function(ease);
        
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
    
    a { color: $stb-red; text-decoration: underline; }
}

.contact-divider { 
    display: block;
    max-width: gridw(4);
    height: 1px;
    
    margin: $spacing-double auto $spacing-double * 1.5 auto;
    
    border: none;
    border-top: 1px dashed #ddd;
    border-top: 1px dashed rgba($stb-red, 0.5);
    
    background: transparent;
} 

.contact-paragraph {
    max-width: gridw(8);
    padding: 0 $spacing;
    
    margin: 0 auto $spacing-double * 1.5 auto;
}

.contact-image {
    display: block;
    max-width: gridw(10);
    width: 100%;
    
    margin: 0 auto $spacing-double * 1.5 auto;;
}


.contact-list {
    display: block;
    max-width: gridw(9);
    margin: 0 auto;
    
    @include clearfix;
    
    &:hover > .contact-item > a:not(:hover) { background: rgba($stb-red, 0.2); };
}

.contact-item {
    float: left; 
    @include clearfix;
    
    &:nth-child(2n) {
        margin: 0 $gutter; 

        & > a {
            background: darken($stb-red, 2);
        }
    }
    
    path { fill: white; }//rgba($stb-red, 0.5); }
    
    & > a {
        position: relative;
        display: block;
        @include grid(3);
        height: gridw(3);
        padding: gridw(3) / 2 - 24px 0 0 0;
        
        background: $stb-red;
        
        text-align: center;
        
        & > .icon { 
            display: inline-block; 
            height: 64px;
            width: 96px;
            
            &[data-icon=linkedin] { margin-top: -12px; }
            &[data-icon=email] { margin-top: -6px; }
            &[data-icon=twitter] { margin-top: 6px; }
        }
        
        &:hover {
            background: $stb-red;
            @include transition-duration(0s);
            
            path { fill: white; }// $stb-red; }
        };
    }   
}



@include grid-respond (6, 9) {
    .contact-list {
        @include grid(6);
    }

    .contact-item > a {
        @include grid(2);
        height: gridw(2);
        padding: gridw(2) / 2 - 24px 0 0 0;

        & > .icon { 
            display: inline-block; 
            height: 48px;
            width: 54px;
            
            &[data-icon=linkedin] { margin-top: 0px; }
            &[data-icon=email] { margin-top: 0px; }
        }
    }
}

@include grid-respond (0, 6) {
    .contact-list {
        width: auto;
        display: inline-block;
    }

    .contact-item > a {
        @include grid(1.25);
        height: gridw(1.25);
        padding: gridw(1.25) / 2 - 16px 0 0 0;

        & > .icon { 
            display: inline-block; 
            height: 32px;
            width: 40px;
            
            &[data-icon=linkedin] { margin-top: 0px; }
            &[data-icon=email] { margin-top: 0px; }
        }
    }
}