.content {
    position: relative;
    width: 100%;
    margin-bottom: $spacing-double;
    
    @include clearfix;
    
    &, * { 
        @include transition-duration(0.5s);
        @include transition-property(height, margin, opacity);
        @include transition-timing-function(ease-out);
        
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
}

.content-list {
    position: relative;
    width: 100%;
    min-height: 480px;
    
    @include clearfix;
}

.content-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    
    @include transition-duration(0.25s);
    
    @include opacity(0);
    z-index: -1;
      
    &.is-active {    
        position: relative;
        @include opacity(1);
        @include transition-duration(0.25s);
        @include transition-timing-function(ease-in);
        // @include transition-duration(1s);
        z-index: 10;
    }
}

.content-wrapper {
    display: block; 
    margin: 0 auto;
    
    width: 100%;
    max-width: gridw(12);
    min-height: 480px;

    @include clearfix;    
}


@include grid-respond(0, 8) {
    .content-item { padding-bottom: 0 !important; }
}