.loader {
    position: absolute;
    top: 180px;
    width: 100%;
    
    text-align: center;
    
    &.is-hidden {
        @include opacity(0);
        z-index: -1;
    }
    
    
    & > .icon {
        position: relative; 
        display: inline-block;
        @include opacity(0.1);
    }
    
    & > .icon path { fill: #222; }
}
