.pressure {
    position: relative;
    display: block;
    margin: 0 auto $spacing-quad auto; ;
    
    width: 100%;
    max-width: gridw(15);
    
    &, * {
        @include transition-duration(0.5s);
        @include transition-property(height, padding);
        @include transition-timing-function(ease);   
    }
}

.pressure::before,
.pressure::after {
    content: '\0020';
    position: absolute;
    top: 0;
    bottom: 0;
    
    z-index: -1;
}

.pressure::before  { left: 50%; right: 0; background-color: rgba($stb-red,   0.5); }
.pressure::after   { right: 50%; left: 0; background-color: rgba($stb-green, 0.5); }

.pressure-list {
    position: relative;
    @include grid(12);
    margin: 0 auto;
    
    background-color: $stb-red;
    
    font-size: 0;
}

.pressure-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 52px;
    padding: 0;
    
    text-align: center;
    text-transform: uppercase;
    
    font-family: "museo sans", helvetica;
    font-weight: 300;
    font-size: 16px;

    @include transition-duration(0.25s);
    @include transition-property(width, height, padding);
    
    & > a {      
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding: 18px 0;
        
        z-index: 3;
        
        font-weight: 300;
        text-decoration: none;
        color: rgba(white, 0.85);
        
        &:hover { color: white; }
    }
    
    &:nth-child(1) { background-color: $stb-green;
        path { fill: $stb-green; }}
        
    &:nth-child(2) { background-color: $stb-blue;
        path { fill: $stb-blue; }}
        
    &:nth-child(3) { background-color: $stb-purple;
        path { fill: $stb-purple; }}
        
    &:nth-child(4) { background-color: $stb-red;
        path { fill: $stb-red; }}
        
      
}

.pressure-item-icon {
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -8px;
    
    width: 16px;
    height: 16px;
    
    z-index: -1;
    
    @include transition-duration(0.25s);
    @include transition-property(bottom);
    @include transition-timing-function(linear);
}


// states

.pressure-list:hover > .pressure-item  {
    width: 24%;

    &:hover { width: 28%;
        & > .pressure-item-icon { bottom: -12px; }}
}

.pressure-list:not(:hover) > .pressure-item  {
    width: 25%;
    
    &.is-active  { width: 25%;
        & > .pressure-item-icon { bottom: -8px; }}
}

@include grid-respond (5, 12) { 
    .pressure-list { width: 100%; }
    .pressure-item {
        height: 68px;
        
        & > a {
            padding: 27px 0 0 0;
            
            & > span {
                display: block;
            }
        }
    }
}

@include grid-respond (0, 5) { 
    .pressure-list { width: 100%; }
    .pressure-item {
        display: block;
        width: 100% !important;
        height: 54px;

        @include transition-property(none);

        & > a {
            padding: 20px 0 0 0;
        }
    }

    .pressure-item-icon {
        z-index: 10;
    }
}





