.samples {
    width: gridw(12);
    padding-top: 6px;
    
    &, * { 
        @include transition-duration(0.5s);
        @include transition-property(all);
        @include transition-timing-function(ease);

        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
    
    a { color: $stb-green; text-decoration: underline; }
}

.samples-list {
    position: relative;
    width: 100%;
    
    &.is-loading { height: 480px; @include opacity(0); }
}


.samples-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    
    &:not(:first-child) { margin: 40px 0; };
}



.samples-preview {
    float: left;
    position: relative;
    display: block;
    width: 100%;
    
    margin-bottom: $spacing; 
    overflow: hidden;
    
    background: rgba(#000, 0);
    border-bottom: 2px solid rgba(#222, 0);
}

.samples-preview-expand {
    position: relative;
    margin: 0 auto;
    @include grid(8);
    height: 0;
    
    overflow: hidden;
     
    @include opacity(1);

    @include transition-duration(0.5s);
    @include transition-property(height);
    @include transition-timing-function(ease);
    
    & > div {
        position: absolute;
        top: 48px;
        left: $spacing;
        right: $spacing;
        
        height: 460px;
        
        @include opacity(0);

        @include transition-duration(0s);
        @include transition-property(opacity);
        @include transition-timing-function(linear);
        
        text-align: center;
    
        background-repeat: no-repeat;
        background-position: center center;
        @include background-size(contain);
        
        &.is-active {
            top: 48px;
            @include opacity(1);
        }
    }    
}


.samples-preview-list {
    float: left;
    position: relative;
    
    overflow: hidden;
    
    background: transparent;
}

.samples-image {
    position: relative;
    float: left;
    
    height: gridw(4, 0px);
    width:  gridw(4, 0px);
    
    overflow: hidden;
    
    background-position: center center;
    @include background-size(cover);
    
    
    &:nth-child(3n+1) {
        clear: left;
    };
            
    cursor: pointer;
}


.samples-description {
    float: left;
    display: block;
    
    @include grid(6, $gutter);
    height: gridw(4);
    padding: 52px;
    
    text-align: right;
    font-size: 24px;
    line-height: 1.3;
    
    background-color: rgba(#eee, 1);
    color: #222;
    
    & > p { display: inline-block; vertical-align: bottom; margin-bottom: 12px; }
}



.samples-preview-close {
    position: absolute;
    top: 0;
    right: 0;//-48px;
    
    width: 48px;
    height: 48px;
    padding: 12px;
    
    background: #000;
    cursor: pointer;
    
    z-index: -1;
    
    @include opacity(0);
}


.samples-header  { 
    float: left;
    width: 100%;
    margin-bottom: 15px;
    text-align: left; 
}

.samples-header-main  {
    float: left;
    width: 100%;
    
    font-family: "museo sans";
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
}

.samples-header-sub  {
    float: right;
    width: 100%;
    margin-top: 10px;
    
    text-align: right;
    font-family: "droid serif";
    font-weight: 300;
    font-size: 18px;
    
    color: #444;
}




///// STATE



.samples-item.is-active {
    z-index: 10;

    .samples-preview-expand { 
        max-width: gridw(8); 
        width: 100%;
        height: 524px;
        margin: ($gutter * 2) auto;
        
        @include opacity(1);
    }
    
    .samples-image {    
        height: gridw(2);
        width:  gridw(2);
    } 
    
    .samples-preview {
        background: rgba(mix(white, #eee), 1);

        border-bottom: 2px solid #222;
    }
    
    .samples-preview-close { @include opacity(1); z-index: 100; }
} 

@include grid-respond (0, 12) {
    .samples-header-main {
        clear: both;
    }
    
    .samples-header-sub { 
        float: left;
        clear: both;
        text-align: left;
    }
}


@include grid-respond (10, 12) {
    .samples {
        width: gridw(10);
        margin: 0 auto;
        
    }
    
    .samples-image {
        height: gridw(10) / 3;
        width:  gridw(10) / 3;
    } 
}


@include grid-respond (8, 10) {
    .samples {
        width: gridw(8);
        margin: 0 auto;
        
    }
    
    .samples-image {
        height: floor(gridw(8) / 3);
        width:  floor(gridw(8) / 3);
    } 
}



@include grid-respond (0, 8) {
    .samples {
        width: 100%;
        margin: 0 auto;

        text-align: center;
    }
    
    .samples-header-main,
    .samples-header-sub {
        text-align: center;
        padding: 0 $spacing;
    }

    .samples-preview-list {
        float: none;
        max-width: 540px;
        width: 100%;
        margin: 0 auto;
        padding: $spacing;
    }

    .samples-image {
        width: 100%;
        max-height: 100%;
        margin-bottom: 3px;

        padding-bottom: (100% / 3);

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        height: auto;
        cursor: auto;

        &.is-active {
            // height: gridw(3);
            padding-bottom: 75%;
        }
    }

}