.stb {
    margin: 0 auto;
    padding-bottom: 64px;
    width: 100%;
    min-width: gridw(12);
    min-height: 680px;
}

.stb-header {
    background-color: #222;
}

.stb-code,
.stb-contacts { float:left; margin: 0 auto; width: gridw(12); }


.is-load-hidden { 
    opacity: 0 !important;
    font-size: 0 !important;
    
    margin: 0  !important;
    padding: 0  !important;
    width: 0 !important;
    height: 0px !important;
    
    @include transition-duration(0s);
}