.timeline { 
    padding-top: 6px;
    
    line-height: 1.7em;
    font-size: 18px;
    text-align: center;
    
    color: #444;
    
    @include clearfix;
    
    &, * { 
        @include transition-duration(0.25s);
        @include transition-property(width, height, padding, margin, opacity, color, background, border);
        @include transition-timing-function(ease);
        
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
    
    a { color: $stb-purple; text-decoration: none; }
    a:hover { text-decoration: underline; }
} 

.timeline-header { 
    margin: 0 auto $spacing-double auto;
    padding: 0 $spacing;
    
    font-family: $site-headerfont, Helvetica, Sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}


.timeline-description {
    margin: 0 auto $spacing-double auto;
    max-width: gridw(10);
    padding: 0 $spacing-double;

    font-size: 20px;
    
    &:last-of-type { margin-bottom: 2.5 * $spacing-double ; }
}

.timeline-item {
    position: relative;
    padding: $spacing-quad;
    
    overflow: hidden;
    @include transition-duration(3s);
    @include opacity(0.25);
    
    & ~ .timeline-item { @include transition-duration(1s); }

    &.is-active { 
        @include opacity(1);
        @include transition-duration(0s);
        background: rgba($stb-purple, 0.05);
        
        & ~ .timeline-item { @include opacity(0.1);  @include transition-duration(0.25s); }
    }
}

.timeline-list {
    margin: 0 auto 0 auto;
    max-width: gridw(8);  

}


.timeline-item-date {
    display: inline-block;
    @include grid(2);
    padding: $spacing;
    
    background: $stb-purple;
    color: mix($stb-purple, white, 5);
    
    text-align: center;
    font-family: $site-headerfont, Helvetica, Sans-Serif;
    font-size: 30px;
    font-weight: 500;
}

.timeline-item-story {
    margin-top: $spacing-double;

    line-height: 1.6em;
    color: #222;
}

.timeline-item-elsewhere {
    @extend .timeline-item-story;
    padding-top: $spacing-double;
    
    border-top: 1px solid rgba($stb-purple, 0.25);
    color: #444;
    color: rgba(#222, 0.5);
}

@include grid-respond(0, 8) {
    .timeline-item,
    .timeline-item.is-active ~ .timeline-item { 
        @include opacity(1); 
    }
}



@include grid-respond(5, 8) {
    .timeline-item {
        padding: $spacing-double;
    }
}


@include grid-respond(0, 5) {
    .timeline-item {
        padding: $spacing;
    }
}