.l-navdeck {
	background-color: #222;
}

.l-navdeck-control {
	position: absolute;
	top: 5vw;
	right: 5vw;

	top: 0;
	right: 0;

	z-index: 100;

	width: 100%;
	max-width: 90vw;
	margin: 0 auto;

	text-align: right;

	.control-state {
		padding: 5vw;
	}
}

.l-navdeck-content {
	position: absolute;
	top: 0;
	bottom: 0;

	opacity: 1;
	pointer-events: none;

	transition-property: opacity;

	z-index: 5;

	&.is-active {
		opacity: 1;
		pointer-events: auto;
	}

	&[data-switch="search"] {
		opacity: 0;
		z-index: 10;

		&.is-active {
			opacity: 1;
		}
	}
}


@media all and (max-height: 320px) {
	.l-navdeck {
		min-height: 320px !important;
	}
}

@media all and (max-height: 540px) {
	.l-navdeck-control {
		[data-switch].is-active {
			opacity: 0.25;

			&:hover {
				opacity: 1;
			}
		}

		[data-switch="search"].is-active {
			opacity: 1
		}
	}
}
