body {
    background: $site-bg;
    color: $site-color;

    text-transform: none;
    text-decoration: none;
    text-align: left;

    height: 100%;
    width: 100%;

    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    font-family: $fontstack-text;
    line-height: 1.3em;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

::selection 	 	{ background: $selection-color; }
::-moz-selection 	{ background: $selection-color; }
img::selection 		{ background: $selection-color; }
img::-moz-selection	{ background: $selection-color; }

h1, h2, h3, h4, h5, h6 {
    font-family: $fontstack-header;
}

a        { text-decoration: none; }
em, cite { font-style: italic; }

.relative {
    position: relative;
    width: 100%;
    height: 100%;
}

// DEFAULTS

* {
    box-sizing: border-box;
    transition: none 0.25s ease;
    -webkit-backface-visibility: hidden;
}
