.control {
	position: relative;

	font-family: $font-sans;
	font-size: 14px;
	font-weight: 700;
	line-height: 1em;
}

.content-light {
	a, a:hover { color: white; }
}

.control-state {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	pointer-events: none;

	transition-property: opacity;

	&, &:hover {
		border-bottom: none;
	}

	.icon {
		width: 18px;
		height: 18px;
		margin-left: 3px;
	}
}

.control-state.is-active {
	z-index: 10;
	opacity: 1;
	pointer-events: auto;
}
