.cardgrid {  
  &.m-double {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    
    .card {
      flex: 1 1 $size-tiny;
      margin-top: $size-space * 2;      
    }
  }

  &.m-single {
    .card + .card {
      margin-top: $size-space * 4; 
    }
  }

  @include respond(730px) {
    &.m-single {
      .card + .card {
        margin-top: $size-space * 6; 
      }
    }

    &.m-double {
      .card {
        margin-top: $size-space * 3;
        
        &:nth-child(odd) { margin-right: $size-space * 1.5; } 
        &:nth-child(even) { margin-left: $size-space * 1.5; } 
      }
    }
  }
}