.l-contents {
  @include respond-above($size-medium) {
    font-size: 100%;
    
    @include heading--large;
  }

  @include respond($size-tiny, $size-small) { font-size: 90%; }
  @include respond-below($size-tiny) { font-size: 80%; }
}