@include module(l-mast) {
  @include meta("module: layout-mast");
   
  overflow: hidden; 
  background-color: rgba(white, 0.98);
  box-shadow: rgba(black, 0.15) 0 2px 25px;
  
  transition-property: padding, box-shadow;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%; 
  z-index: 1000;
  
  &-logo { 
    float: left;
  }

  &-nav { 
    float: right;
  }
  
  .menu-link {
    display: block;
    padding: 1px 3px; 
    font-size: 16px;
    
    &:hover { text-decoration: underline; }
  }
  
  @include respond(0, 540px) {
    padding: $size-spacing $size-spacing * 2;

    .logo {
      @include logo--small; 
    }
  }
}
