.strata {
  margin: auto;
  max-width: $size-medium;
  padding: $size-space * 2;
  
  transition-property: padding;
  
  & + & {
    margin-top: $size-space * 2;
  }

  & > .wrapper {
    margin: auto;
    max-width: ($size-large + $size-medium) / 2.25;
  }

  &.m-padded {
    padding: $size-space * 4 $size-space * 2;
  }

  &.m-header { 
    padding: $size-space * 4 $size-space * 2;
    
    .wrapper {
      & > * + * {
        margin-top: $size-space;
      }
    }
  }

  &.m-green {
    background-color: $color-green;
    color: $color-light; 
  }
  
  &.m-blue {
    background-color: $color-blue;
    color: $color-light; 
  }

  &.m-purple {
    background-color: $color-purple;
    color: $color-light; 
  }

  &.m-red {
    background-color: $color-red;
    color: $color-light; 
  }


  @include respond($size-large) {
    &.m-padded {
      padding: $size-space * 6 $size-space * 2;
    }
  }

  @include respond($size-medium) {
    max-width: $size-large;
  }
  
  @include respond(0, $size-medium) {
    @include heading--small;
  }
}

