 // WE'RE ON THE GRID, MOTHER FUCKER!

$max: 12;
$column: 80px;
$gutter: 0px;

@function gridw ($span: $max, $offset: 0px) { 
    @return ($column * $span) + ($gutter * ($span - 1)) + $offset; 
}

@mixin grid  ($span: $max, $offset: 0px) { 
    width: gridw($span, $offset); 
}

@mixin grid-respond ($grid-min, $grid-max, $media: "screen") {    
    $grid: if(
        $grid-min != 0,
        "only " + $media + " and (min-width: " + gridw($grid-min) + ") and (max-width: " + gridw($grid-max) + ")",
        "only " + $media + " and (max-width: " + gridw($grid-max) + ")"
    );
   
    @media #{$grid} { 
        @content;
    };
}




$respond-mobile: "only screen and (max-width: 480px)";
$respond-tablet: "only screen and (min-width: 481px)  and (max-width: 768px)";
$respond-small:  "only screen and (min-width: 769px)  and (max-width: 1152px)"; // small screens
$respond-screen: "only screen and (min-width: 1153px) and (max-width: 1440px)"; // standard deploy
$respond-large:  "only screen and (min-width: 1441px) and (max-width: 1919px)";  // large screens
$respond-huge:   "only screen and (min-width: 1920px)";  // huge screens (HD and up)

// responsive special

$respond-retina:  "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)";




