.card {
  width: 100%; 
}

.card-header {
  a { text-decoration: none; }  
}

.card-meta {
  font-size: 18px;
  font-weight: 300;
   
  color: $color-mid;
  
  span { font-weight: 500; }
  a { color: $color-mid; } 
}

.card-content {
  margin-top: $size-spacing;
}