.logo {
  display: inline-block;  
  
  a { color: $color-dark; text-decoration: none; } 
}

.logo-icon {
  display: inline-block;
  vertical-align: middle;
  
  width: 1.7em;
  height: 1em;
}


.logo-text {
  display: inline-block;
  vertical-align: middle;
  
  position: relative;
  top: -1px;
  
  line-height: 90%; 
  font-size: 90%;
  text-transform: uppercase;
  
  span { font-weight: 700; }
}

@mixin logo--small {
  .logo-text { display: none; }
}