@include module(logo) {
  display: inline-block;  
  
  a { color: $color-dark; text-decoration: none; } 
  
  &-icon {
    display: inline-block;
    vertical-align: middle;
    
    width: 34px;
    height: 22px;
  }


  &-text {
    display: inline-block;
    vertical-align: middle;
    
    position: relative;
    top: -3px;
    
    line-height: 16px; 
    font-size: 18px;
    text-transform: uppercase;
    
    span { font-weight: 700; }
  }
}

@mixin logo--small {
  .logo-text { display: none; }
}