@include module(menu) {
  &-list {
    & > li {
      display: inline-block;
      vertical-align: middle;  
    }  
  }

  &-link {
    text-decoration: none;
    font-weight: 500; 

    &.m-portfolio { color: $color-green; }
    &.m-code { color: $color-blue; }
    &.m-blog { color: $color-purple; }
    &.m-contact { color: $color-red; }
  }
}