<section class="strata">
  <div class="wrapper extend-base">

    {% for year in collections.posts|groupBy('year') %}
      <h4 class="heading">{{ loop.key }}</h4>

      {% for month in year|groupBy('month') %}
        <h5 class="heading">{{ loop.key }}</h5>
      
        {% for post in month %}
          <div class="post">
            <a href="{{ post.path.href }}{{ post.path.name }}">{{ post.title }}</a>
          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>
</section>

