// Site-wide Variables



// FONTS
$font-serif: "Droid Serif";
$font-sans: "Museo Sans";
$font-mono: "PT Mono";

$fontstack-serif: $font-serif, sans-serif;
$fontstack-sans: $font-sans, Verdana, sans-serif;
$fontstack-mono: $font-mono, monospace;

// COLORS

// stb base
$stb-dark:  #222;
$stb-light: #fff;

//stb colors
$stb-green:  #4a975e;
$stb-blue:   #396f85;
$stb-purple: #7f5f97;
$stb-red:    #d44242;

//stb alt colors
$stb-green-dark:  darken($stb-green,  5%);
$stb-blue-dark:   darken($stb-blue,   5%);
$stb-purple-dark: darken($stb-purple, 5%);
$stb-red-dark:    darken($stb-red,    5%);



$site-bg: $stb-light;
$site-color: $stb-dark;

$selection-color: mix($stb-light, $stb-green, 70); // when a user highlights text this is the super duper color!


// site spacing, keep it consistant bitches

$spacing: 20px;
$spacing-double: $spacing * 2;
$spacing-quad:   $spacing * 4;
$spacing-half:   $spacing / 2;
$spacing-fourth: $spacing / 4;
