// Site-wide Variables



// FONTS
$font-serif: "Droid Serif";
$font-sans: "Museo Sans";
$font-mono: "PT Mono";

$fontstack-text: $font-serif, sans-serif;
$fontstack-header: $font-sans, Verdana, sans-serif;
$fontstack-mono: $font-mono, monospace;


// COLORS

$color-light: white;
$color-dark: #1e2223;

$site-bg: $color-light;
$site-color: $color-dark;

$selection-color: mix($color-light, $color-dark, 70); // when a user highlights text this is the super duper color!


// site spacing, keep it consistant bitches

$spacing: 20px;
$spacing-double: $spacing * 2;
$spacing-quad:   $spacing * 4;
$spacing-half:   $spacing / 2;
$spacing-fourth: $spacing / 4;
