// Site-wide Variables



// FONTS
$font-regular: "Droid Serif";

$fontstack-text: $font-regular, sans-serif;
$fontstack-header: "Museo Sans", Verdana, sans-serif;
$fontstack-mono: 'PT Mono', monospace;


// COLORS

$color-light: white;
$color-dark: #1e2223;

$site-bg: $color-light;
$site-color: $color-dark;

$selection-color: mix($color-light, $color-dark, 70); // when a user highlights text this is the super duper color!


// site spacing, keep it consistant bitches

$spacing: 20px;
$spacing-double: $spacing * 2;
$spacing-quad:   $spacing * 4;
$spacing-half:   $spacing / 2;
$spacing-fourth: $spacing / 4;
