@mixin module($ns) {
  #{'.' + $ns} { @content; }
}

@mixin spec($ns, $el:null) { @include specify($ns, $el) { @content }; }
@mixin specify($ns, $el:null) {
  $name: '&-' + $ns;
  @if $el {
    $name: '.' + $ns + '-' + $el;
  }

  #{$name} { @content }
}

@mixin tag($ns, $tag:null) {
  @if $tag {
    #{$tag + '.' + $ns} { @content }
  } @else {
    @at-root {
      #{$ns + &} { @content }
    }
  }
}

@mixin attr($ns, $attr:null) {
  $name: '&[' + $ns + ']';
  @if $attr {
    $name: $ns + '[' + $attr + ']';
  }

  #{$name} { @content }
}

@mixin mod($ns, $mod:null) { @include modify($ns, $mod) { @content }; }
@mixin modify($ns, $mod:null) {
  $name: '&.m-' + $ns;
  @if $mod {
    $name: '.' + $ns + '-' + $mod;
  }

  #{$name} { @content }
}

@mixin state($ns, $state:null) { 
  $name: '&.is-' + $ns;
  @if $state {
    $name: $ns + '.is-' + $state;
  }

  #{$name} { @content }
}