<section class="project project-casestudy">
  <article class="project-description">
    <h2>Juniper Deception Force</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate nec lorem non tristique. Maecenas ut ultrices justo. Morbi ac feugiat nunc, ut posuere orci. Praesent iaculis adipiscing nisl, vitae venenatis erat pulvinar non. </p>

    <h3>What I Did</h3>
    <p>Nunc sit amet ultricies nibh, sit amet tempus velit. Aenean quis posuere elit, in ultricies nisl. Vestibulum lacinia quis orci quis porttitor. Nam consectetur, neque eu convallis malesuada, velit justo bibendum tortor, feugiat mattis arcu sem nec lectus.</p>

    <h4>Technologies Used</h4>
    <p>HTML/CSS, Javascript, Backbone, Phonegap, iOS, Android </p>
  </article>
</section>