.project {
  padding: 5vw;
  
  &:nth-child(odd) {
    background: linear-gradient(to bottom, rgba(#f6f6f6, 1) 0%,rgba(#f6f6f6, 0.5) 100%);
    // background-color: rgba(#f6f6f6, 1);
  }

  overflow: hidden;
}

.project-section {
  position: absolute;
  top: 5vw;
  left: 0;

  min-height: 100%;
}

.project-casestudy {
  .project-description {
    transform: translate3d(5vw, 0, 0);
    width: 45vw; 
  }

  .project-selector {
    overflow: hidden;
    transform: translate3d(55vw, 0, 0);
    width: 40vw;
  }

  .project-gallery {
    transform: translate3d(105vw, 0, 0);
    width: 60vw;
  }
}

.project-nav {
  position: relative;
  height: 45px;
}

.project-nav-item {
  position: absolute;
  top: 0;

  width: 100%;
  padding: 10px 0;

  font-family: $fontstack-sans;
  transition-property: opacity;
  transition-duration: 0.4s;

  & > .icon-arrow-left-thin,
  & > .icon-arrow-right-thin {
    height: 7px;
  }
}

.project-nav-information { 
  left: 0; 
  opacity: 0;
  pointer-events: none;
  
  span { margin-left: 5px; }
}

.project-nav-close,
.project-nav-gallery { 
  right: 0; 
  text-align: right;
  
  opacity: 1;

  span { margin-right: 5px; }
  .gallery {
    height: 100%;
  }
}

.project-nav-close {
  .icon-close { display: none; }
}

.project-thumbnails {
  padding: 0px;
  overflow: hidden;
}

.project-thumbnail {
  float: left;
  width: 50%;

  transition-property: opacity;
  transition-duration: 0.5s;

  & > .image {
    width: 100%;
    background-color: #eee;
  }
}


.project-casestudy {
  &.is-expanded {
    .project-description {
      transform: translate3d(-50vw, 0, 0);
    }

    .project-selector {
      transform: translate3d(5vw, 0, 0);
      width: 25vw;
    }

    .project-gallery {
      transform: translate3d(35vw, 0, 0);
    }

    .project-nav-information { 
      opacity: 1;
      pointer-events: auto;
    }

    .project-nav-gallery { 
      opacity: 0;
      pointer-events: none;
    }

    .project-thumbnail {
      opacity: 0.25;

      &:hover,
      &.is-active { 
        opacity: 1; 
        transition-duration: 0.25s;
      }
    }
  }
}

.project {
  &.is-animating {
    .project-section { 
      transition-property: transform, width; 
      transition-duration: 0.5s
    }
  }
}

@include respond(960px) {
  .project-casestudy {
    .project-description {
      width: 40vw;
    }
    .project-selector {
      transform: translate3d(50vw, 0, 0);
      width: 45vw;
    }  

    &.is-expanded {
      .project-selector {
        transform: translate3d(5vw, 0, 0);
        width: 15vw;
      }

      .project-gallery {
        transform: translate3d(25vw, 0, 0);
        width: 70vw;
      }
    }
  }

  .project-thumbnail { 
    width: 33.33%;
  }
}

@include respond(0, 600px) {
  .project {
    padding: 5vw 0;
  }

  .project-section {
    top: 0;
  }

  .project-nav-close {
    color: white;

    .icon-close { display: inline-block; }
    .icon-close-dark { display: none; }
  }

  .project-casestudy {
    .project-description {
      position: relative;
      width: 100%;
      padding: 0 5vw;
      transform: translate3d(0vw, 0, 0);
    }

    .project-selector {
      position: relative;
      width: 100%;
      padding: 5vw;
      transform: translate3d(0vw, 0, 0);

      .project-nav { display: none; }
    }

    .project-gallery {
      width: 100%;
      padding: 5vw;
      transform: translate3d(105vw, 0, 0);

      background-color: #000;
    }

    &.is-expanded {
      .project-description,
      .project-selector {
        transform: translate3d(-105vw, 0, 0);
        width: 100%;
      }

      .project-gallery {
        transform: translate3d(0vw, 0, 0);
      }
    }
  }
}